.admin-page {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}

.admin-page h1 {
  color: #007b5e;
}

.materials-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
